
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright © <script type="text/JavaScript"> document.write(new Date().getFullYear());</script> Charles Kjendalen</p>
  </div>
</div>
</body>
</html>
